body {
  margin: 0 auto;
  font-family: "Spline Sans", sans-serif;
}

#jypLogo {
  max-width: 17rem;
}

#myCarousel {
  width: 100%;
  max-width: 100%;
  z-index: 1;
}

#miNombre {
  position: relative;
  text-align: center;
}

.myPage {
  width: 100%;
}

.miHeader {
  max-height: 10rem;
}

.miNav {
  height: 3.5rem;
  max-height: 3.5rem;
}

.miImgCarrito {
  cursor: pointer;
  color: #464646;
  transition: 0.15s;
}

.miImgCarrito:hover {
  transform: scale(1.05);
}

.separador {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.separadorCorto {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.misDatosUsuario {
  padding-top: 1rem;
}

.miImagen img {
  max-width: 3.6rem;
  max-height: 3.6rem;
  width: 3.6rem;
  height: 3.6rem;
  object-fit: cover;
}

.miImagen img:hover {
  cursor: pointer;
  border: 0.2rem solid rgba(116, 116, 116, 0.466);
}

.navbar {
  background-color: #00a7c4;
  background-image: linear-gradient(
    45deg,
    #759dda 0%,
    #c4faf3 99%,
    #ffffff 100%
  );
  color: #ffffff;
  z-index: 2;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.carousel-item {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  position: relative;
  background: #e4e4e49c;
  color: rgb(0, 0, 0);
  background-position: center;
  background-size: cover;
  transition: 0s;
}

.carousel-item img {
  height: 28rem;
  max-height: 28rem;
  width: 50rem;
  max-width: 50rem;
}

.post-img {
  width: 100%;
  height: 14rem;
  background-size: cover;
  background-position: center;
  align-items: center;
  transform: scale(0.8);
  transition: 0.25s;
}

.post {
  box-shadow: 0 1px 6px 1px rgb(65, 65, 65);
  overflow: hidden;
  transition: 0.25s;
}

.post .miCarrito {
  opacity: 0;
  transition: 0.25s;
}

.post:hover .miCarrito {
  opacity: 1;
}

.post:hover {
  transform: translateY(-4px);
  box-shadow: 0 1px 14px 2px rgba(70, 70, 70, 0.15);
}

.post-header {
  width: 100%;
  height: 12rem;
  overflow: hidden;
  cursor: pointer;
}

.post:hover .post-img {
  transform: scale(0.85);
}

.post-body {
  padding: 15px;
  text-align: center;
}

.post-body span {
  display: inline-block;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  font-weight: bold;
}

.post-body h2 {
  margin-bottom: 20px;
}

.post-body p {
  line-height: 1.5;
  margin-bottom: 20px;
}

.post-body .post-link {
  display: block;
  text-decoration: none;
  padding: 10px;
  background: #ff8282;
  color: #fff;
  width: 50%;
  margin: auto;
  border-radius: 20px;
  box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.post-body .post-link:hover {
  background: #ff8282;
  box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.post-list {
  display: flex;
  justify-content: center;
  padding: 30px 15px;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  max-width: 1000px;
  margin: auto;
}

.misVideos {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
  z-index: 0;
}

.misImagenes {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
  z-index: 0;
}

@media (max-width: 920px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 650px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}
