.productoImagenes {
  object-fit: fill;
  width: 10rem;
  height: 10rem;
  max-width: 10rem;
  max-height: 10rem;
}

.btn {
  color: white;
}

#misProductosNoAprobados {
  align-self: center;
  margin: auto;
  text-align: center;
}

.misVideos {
  padding-left: 2.5rem;
  width: 45rem;
  height: 25rem;
  z-index: 0;
}

.misImagenes {
  width: 5rem;
  height: 100%;
  z-index: 0;
}
